* {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 14px;
  background: red;
  /* background: #F9F9F9; */
  gap: 14px;
}

header {
  display: flex;
  align-items: stretch;
  align-content: center;
}

.normap{
  display: flex;
  flex-direction: column;
  background: #F9F9F9;
  fill: #DCDCDC;
}

.normap 
.bglegal {
   fill: #7FFFD4;
   stroke: #2F4F4F;
   stroke-width: 2px; 
   transition: fill 0.3s;
   }

.normap 
.bglegal:hover {
  fill: #5F9EA0;
  display: {id};
}

@media (min-width: 640px) {
  :root {
    color: #213547;
    background-color: #000000;
    /* background-color: #F9F9F9; */
  }
}
